
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

    
    body {
        background-color: #ecedef;
    }

    .formsCustom {
        margin-left: 15%;
        border-radius: 10px;
        margin-top: 50px;
        background-color: #fff;
        padding: 25px;
        margin-right: 15%;
        font-family: 'Open Sans', sans-serif;
    }

    .formsFlex {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top:35px;
    }

    .formleft {
        width: 45%;
    }

    .formRight {
        width: 45%;

    }

    .formsContent {
        margin: 5px;
        padding: 10px;
    }

    .input input {
        width: 100%;
        height: 46px;
        padding: 8px;
        font-weight: bold;
    }

    textarea {
        width: 100%;
        height: auto;
        padding: 8px;
        font-weight: bold;
    }

    .input {
        border: 2px solid #ccc;
        font-size: 15px;
        font-weight: 500;
        color: #333333;
        height: auto;
        border-radius: 4px;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: none !important;
        outline: none !important;
    }

    .input:hover {
        border: 2px solid #02acfa;
    }

    lable {
        
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }


    label {
        font-weight: bold;
        font-size: 15px;
        padding: 6px;
        margin-left: 6px;
        font-family: 'Open Sans', sans-serif;
    }

    .check {
        height: 200px;
        overflow: auto;
        width: 200px;
        width: 100%;
        border: 1px solid #000;
        margin-top: 52px;

    }

    .selectcheck .check ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .check ul li {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid black;
    }

    .selectcheck {
        display: flex;
        margin-top:25px;
        margin-left: -52px;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 5px 8px 0;
        margin-top: 2px;
        line-height: normal;
    }

    .selectlabel {
        display: inline;
        position: relative;
        left: 65px;
        font-size: 15px;
    }

    .image{
        display: flex;
        flex-wrap: wrap;
        margin-top: 11px;
    }

    .selectpicker{
        height: 45px;
        width: 100%;
      }
    
      .selectpicker option {
        font-size: 17px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 200;
      }




      .radiocheck ul {
        display: flex;
      }
    
      .radiocheck ul input {
        width: 19px;
      }
    
      .radio input[type="radio"],
      .radio-inline input[type="radio"],
      .checkbox input[type="checkbox"],
      .checkbox-inline input[type="checkbox"] {
        position: relative;
      }
    
      .radiocheck ul label {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    
      .image .customImage {
        width: 193px;
        height: 150px;
        border: 1px solid black;
        border-radius: 10px;
      }
    
      input[type="file"] {
        opacity: 0;
      }
    
      .drop-zoon img,
      video {
        height: inherit;
        object-fit: contain;
        width: 186px;
      }
    
      .imageView {
        margin: 10px;
      }
    
      .input select {
        height: 46px;
        width: 100%;
      }
    
      .text-error {
        color: red;
        font-weight: bold;
        margin-left: 7px;
        position: relative;
        top:2px;
      }
    
      .imageView{
        flex-direction: column;
        margin-bottom: 25px;
      }

      .imageView {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 193px;
        height: 150px;
        border: 1px solid black;
        border-radius: 5px;
      }
      .imageView img,video{
        height: inherit;
        object-fit: contain;
        width: 186px;
      }

      


      .search-filters-submit{
        background-color: #02acfa;
        height: 45px;
        font-weight: bold!important;
        border-radius: 4px;
      }


      .form {
        width: 500px;
        height: 700px;
        background: #e6e6e6;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        margin: calc(50vh - 220px) auto;
        padding: 20px 30px;
        max-width: calc(100vw - 40px);
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        position: relative
    }

    .form h2 {
        margin: 10px 0;
        padding-bottom: 10px;
        width: 60%;
        color: #78788c;
        border-bottom: 3px solid #78788c
    }

    .form input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        font-family: 'Montserrat', sans-serif;
        transition: all .3s;
        border-bottom: 2px solid #bebed2
    }

    .form input:focus {
        border-bottom: 2px solid #78788c
    }

    .form p:before {
        content: attr(type);
        display: block;
        margin: 28px 0 0;
        font-size: 14px;
        color: #5a5a5a
    }

    .form button {
        float: right;
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid #78788c;
        background: 0;
        color: #5a5a6e;
        cursor: pointer;
        transition: all .3s
    }

    .form button:hover {
        background: #78788c;
        color: #fff
    }

    .form div {
        content: 'Hi';
        position: absolute;
        bottom: -15px;
        right: -20px;
        background: #50505a;
        color: #fff;
        width: 320px;
        padding: 16px 4px 16px 0;
        border-radius: 6px;
        font-size: 13px;
        box-shadow: 10px 10px 40px -14px #000
    }

    .form span {
        margin: 0 5px 0 15px
    }

    .mainNotify{
      display: flex;
      justify-content: center;
    }
    .notification{
      height: 300px;
      width: 500px;
      background-color: #fff;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .notification img{
      height: 150px;
      width: 150px;
    }
    .notHeader{
      text-align: center;
    }
    .notBody{
      text-align:center;
    }

    .search-list{
    max-height: 1200px;
    overflow-y: scroll;
    }

    .search-list::-webkit-scrollbar{
      display: none;
    }