{% extends "base.html" %}
{% block title %} Add Property {% endblock %}
{% block button %} {% endblock %}
{% block corousal %} {% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/assets/css/image.css" />
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-gray-900">
      Add Property
    </h1>
  </div>
</header>
<div class="formsCustom">
  <form method="POST" action="/addProperty" enctype="multipart/form-data">{% csrf_token %}
    <div class="formsFlex">
      <div class="formleft">
        <div class="radio">
          <lable style="margin-left: 10px;">Sale/Rent</lable>
          <div class="radiocheck">
            <ul id="id_sale" class="validation">
              <li><label for="id_sale_0"><input type="radio" name="sale" value="Sale" class="validation" id="id_sale_0">
           For Sale</label>
          
          </li>
              <li><label for="id_sale_1"><input type="radio" name="sale" value="Rent" class="validation" id="id_sale_1">
           For Rent</label>
          
          </li>
          </ul>
          </div>
          <div class="text-error">{{ form.sale.errors }}</div>
        </div>

        <div class="formsContent">
          <lable>Title</lable>
          <div class="input">
            {{ form.title }}
          </div>
          <div class="text-error">{{ form.title.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Description</lable>
          <div class="input">
            {{ form.description }}
          </div>
          <div class="text-error">{{ form.description.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Property Type</lable>
          <div class="input">
            {{ form.propertyType }}
          </div>
          <div class="text-error">{{ form.propertyType.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Location</lable>
          <div class="input">
            {{ form.location }}
          </div>
          <div class="text-error">{{ form.location.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Address</lable>
          <div class="input">
            {{ form.address }}
          </div>
          <div class="text-error">{{ form.address.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Size</lable>
          <div class="input">
            {{ form.size }}
          </div>
          <div class="text-error">{{ form.size.errors }}</div>
        </div>

        <div class="formsContent">
          <lable>Currency</lable>
          <div class="input">
            {{ form.currency }}
          </div>
          <div class="text-error">{{ form.currency.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Price</lable>
          <div class="input">
            {{ form.price }}
          </div>

          <div class="text-error">{{ form.price.errors }}</div>
        </div>

      </div>

      <div class="formRight">
        <div class="formsContent">
          <lable>Price Conditions</lable>
          <div class="input">
            {{ form.priceCondition }}
          </div>
          <div class="text-error">{{ form.priceCondition.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Desposit/Bond (if any)</lable>
          <div class="input">
            {{ form.deposit }}
          </div>
          <div class="text-error">{{ form.deposit.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Agent Commission (% if any)</lable>
          <div class="input">
            {{ form.agent }}
          </div>
          <div class="text-error">{{ form.agent.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Build Year</lable>
          <div class="input">
            {{ form.build }}
          </div>
          <div class="text-error">{{ form.build.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Rooms</lable>
          <div class="input">
            {{ form.room }}
          </div>
          <div class="text-error">{{ form.room.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Garages</lable>
          <div class="input">
            {{ form.garage }}
          </div>
          <div class="text-error">{{ form.garage.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Bathroom</lable>
          <div class="input">
            {{ form.bathroom }}
          </div>
          <div class="text-error">{{ form.bathroom.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Car Spaces</lable>
          <div class="input">
            {{ form.carspace }}
          </div>
          <div class="text-error">{{ form.carspace.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Fully Furnished</lable>
          <div class="input">
            {{ form.furnished }}
          </div>
          <div class="text-error">{{ form.furnished.errors }}</div>
        </div>
      </div>
    </div>


    <div class="selectcheck">

      <lable class="selectlabel">Indoor Features</lable>

      <div class="check">

        {{ form.indoor }}
        
      </div>
      <div class="text-error">{{ form.indoor.errors }}</div>
      


      <lable class="selectlabel">Outdoor Features</lable>


      <div class="check">

        {{ form.outdoor }}

      </div>
      <div class="text-error">{{ form.outdoor.errors }}</div>



      <lable class="selectlabel">Eco Features</lable>

      <div class="check">

        {{ form.echo }}
      </div>
      <div class="text-error">{{ form.echo.errors }}</div>


      <lable class="selectlabel">Other Features</lable>

      <div class="check">

        {{ form.other }}
      </div>
      <div class="text-error">{{ form.other.errors }}</div>
    </div>

    <div style="margin-left: 21px; margin-top:35px;">
      <lable>Featured Image</lable><span class="dim-size" style="font-size: 12px; margin-left: 8px;">Supported Formats
        JPG, JPEG, PNG 600 X 400 PX (Max 10 MB)</span>
    </div>
    <div class="image">
      <div class="imageView"
        style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
        <div id="dropZoon0" class="upload-area__drop-zoon drop-zoon">
          <span class="drop-zoon__icon">
            <i class='bx bxs-file-image'></i>
          </span>
          <p class="drop-zoon__paragraph" id="para0">Drop your file here or Click to browse</p>
          <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
          <img src="" alt="Preview Image" id="previewImage0" draggable="false">
          {{ form.image }}

        </div>

      </div>
      <div class="text-error">{{ form.image.errors }}</div>
    </div>


    <div style="margin-left: 21px; margin-top:35px;">
      <lable>Images</lable><span class="dim-size" style="font-size: 12px; margin-left: 8px;">Supported Formats JPG,
        JPEG, PNG 600 X 400 PX (Max 10 MB)</span>
    </div>
    <div class="image">
      <div class="imageView"
        style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
        <div id="dropZoon1" class="upload-area__drop-zoon drop-zoon">
          <span class="drop-zoon__icon">
            <i class='bx bxs-file-image'></i>
          </span>
          <p class="drop-zoon__paragraph" id="para1">Drop your file here or Click to browse</p>
          <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
          <img src="" alt="Preview Image" id="previewImage1" draggable="false">
          {{ form.image1 }}

        </div>
        <div class="text-error">{{ form.image1.errors }}</div>

      </div>
      

      <div class="imageView"
        style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
        <div id="dropZoon2" class="upload-area__drop-zoon drop-zoon">
          <span class="drop-zoon__icon">
            <i class='bx bxs-file-image'></i>
          </span>
          <p class="drop-zoon__paragraph" id="para2">Drop your file here or Click to browse</p>
          <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
          <img src="" alt="Preview Image" id="previewImage2" draggable="false">
          {{ form.image2 }}

        </div>
        <div class="text-error">{{ form.image2.errors }}</div>

      </div>

      <div class="imageView"
        style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
        <div id="dropZoon3" class="upload-area__drop-zoon drop-zoon">
          <span class="drop-zoon__icon">
            <i class='bx bxs-file-image'></i>
          </span>
          <p class="drop-zoon__paragraph" id="para3">Drop your file here or Click to browse</p>
          <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
          <img src="" alt="Preview Image" id="previewImage3" draggable="false">
          {{ form.image3 }}

        </div>
        <div class="text-error">{{ form.image3.errors }}</div>

      </div>

      <div class="imageView"
        style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
        <div id="dropZoon4" class="upload-area__drop-zoon drop-zoon">
          <span class="drop-zoon__icon">
            <i class='bx bxs-file-image'></i>
          </span>
          <p class="drop-zoon__paragraph" id="para4">Drop your file here or Click to browse</p>
          <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
          <img src="" alt="Preview Image" id="previewImage4" draggable="false">
          {{ form.image4 }}

        </div>
        <div class="text-error">{{ form.image4.errors }}</div>

      </div>

      <div class="imageView"
        style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
        <div id="dropZoon5" class="upload-area__drop-zoon drop-zoon">
          <span class="drop-zoon__icon">
            <i class='bx bxs-file-image'></i>
          </span>
          <p class="drop-zoon__paragraph" id="para5">Drop your file here or Click to browse</p>
          <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
          <img src="" alt="Preview Image" id="previewImage5" draggable="false">
          {{ form.image5 }}

        </div>
        <div class="text-error">{{ form.image5.errors }}</div>

      </div>

      <div class="imageView"
        style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
        <div id="dropZoon6" class="upload-area__drop-zoon drop-zoon">
          <span class="drop-zoon__icon">
            <i class='bx bxs-file-image'></i>
          </span>
          <p class="drop-zoon__paragraph" id="para6">Drop your file here or Click to browse</p>
          <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
          <img src="" alt="Preview Image" id="previewImage6" draggable="false">
          {{ form.image6 }}

        </div>
        <div class="text-error">{{ form.image6.errors }}</div>

      </div>

    </div>
    
    <button class="btn btn-primary" style="margin-top: 15px; margin-left: 12px; height:4rem ;" type="submit">Add
      Property</button>
  </form>
</div>

{% block footer %} {% endblock %}

<script src="/static/assets/js/image.js" type="text/javascript"></script>
{% endblock %}