{% extends "base.html" %}
{% block title %} Add Service {% endblock %}
{% block button %} {% endblock %}
{% block corousal %} {% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/assets/css/image.css" />
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-gray-900">
      Add Service
    </h1>
  </div>
</header>
<div class="formsCustom">
  <form>
    <div class="formsFlex">
      <div class="formleft">
        <div class="formsContent">
          <lable>Service Type</lable>
          <div class="input">
            {{ form.type }}
          </div>
          <div class="text-error">{{ form.type.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Service Name</lable>
          <div class="input">
            {{ form.title }}
          </div>
          <div class="text-error">{{ form.title.errors }}</div>
        </div>

        <div class="formsContent">
          <lable>Location</lable>
          <div class="input">
            {{ form.location }}
          </div>
          <div class="text-error">{{ form.location.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Description</lable>
          <div class="input">
            {{ form.description }}
          </div>
          <div class="text-error">{{ form.description.errors }}</div>
        </div>
      </div>

      <div class="formRight">
        <div class="formsContent">
          <lable>Address</lable>
          <div class="input">
            {{ form.address }}
          </div>
          <div class="text-error">{{ form.address.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Currency</lable>
          <div class="input">
            {{ form.currency }}
          </div>
          <div class="text-error">{{ form.currency.errors }}</div>
        </div>
        <div class="formsContent">
          <lable>Rate (per Hour)</lable>
          <div class="input">
            {{ form.price }}
          </div>
          <div class="text-error">{{ form.price.errors }}</div>
        </div>

      </div>
    </div>

      <!-- Upload Area -->
      <div style="margin-left: 21px; margin-top:35px;">
        <lable>Images</lable><span class="dim-size" style="font-size: 12px; margin-left: 8px;">Supported Formats JPG,
          JPEG, PNG 600 X 400 PX (Max 10 MB)</span>
      </div>
      <div class="image">
        <div class="imageView"
          style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
          <div id="dropZoon1" class="upload-area__drop-zoon drop-zoon">
            <span class="drop-zoon__icon">
              <i class='bx bxs-file-image'></i>
            </span>
            <p class="drop-zoon__paragraph" id="para1">Drop your file here or Click to browse</p>
            <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
            <img src="" alt="Preview Image" id="previewImage1" draggable="false">
            {{ form.image1 }}

          </div>
          <div class="text-error">{{ form.image1.errors }}</div>

        </div>

        <div class="imageView"
          style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
          <div id="dropZoon2" class="upload-area__drop-zoon drop-zoon">
            <span class="drop-zoon__icon">
              <i class='bx bxs-file-image'></i>
            </span>
            <p class="drop-zoon__paragraph" id="para2">Drop your file here or Click to browse</p>
            <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
            <img src="" alt="Preview Image" id="previewImage2" draggable="false">
            {{ form.image2 }}

          </div>
          <div class="text-error">{{ form.image2.errors }}</div>

        </div>

        <div class="imageView"
          style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
          <div id="dropZoon3" class="upload-area__drop-zoon drop-zoon">
            <span class="drop-zoon__icon">
              <i class='bx bxs-file-image'></i>
            </span>
            <p class="drop-zoon__paragraph" id="para3">Drop your file here or Click to browse</p>
            <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
            <img src="" alt="Preview Image" id="previewImage3" draggable="false">
            {{ form.image3 }}

          </div>
          <div class="text-error">{{ form.image3.errors }}</div>

        </div>

        <div class="imageView"
          style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
          <div id="dropZoon4" class="upload-area__drop-zoon drop-zoon">
            <span class="drop-zoon__icon">
              <i class='bx bxs-file-image'></i>
            </span>
            <p class="drop-zoon__paragraph" id="para4">Drop your file here or Click to browse</p>
            <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
            <img src="" alt="Preview Image" id="previewImage4" draggable="false">
            {{ form.image4 }}

          </div>
          <div class="text-error">{{ form.image4.errors }}</div>

        </div>

        <div class="imageView"
          style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
          <div id="dropZoon5" class="upload-area__drop-zoon drop-zoon">
            <span class="drop-zoon__icon">
              <i class='bx bxs-file-image'></i>
            </span>
            <p class="drop-zoon__paragraph" id="para5">Drop your file here or Click to browse</p>
            <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
            <img src="" alt="Preview Image" id="previewImage5" draggable="false">
            {{ form.image5 }}

          </div>
          <div class="text-error">{{ form.image5.errors }}</div>

        </div>

        <div class="imageView"
          style="display:flex; justify-content:center; align-items: center; width: 193px; height:150px; border: 1px solid black; border-radius: 5px;">
          <div id="dropZoon6" class="upload-area__drop-zoon drop-zoon">
            <span class="drop-zoon__icon">
              <i class='bx bxs-file-image'></i>
            </span>
            <p class="drop-zoon__paragraph" id="para6">Drop your file here or Click to browse</p>
            <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
            <img src="" alt="Preview Image" id="previewImage6" draggable="false">
            {{ form.image6 }}

          </div>
          <div class="text-error">{{ form.image6.errors }}</div>

        </div>

      </div>

      <button class="btn btn-primary" style="margin-top: 15px; margin-left: 12px; height:4rem ;" type="submit">Add
        Property</button>
  </form>


</div>

{% block footer %} {% endblock %}

<script src="/static/assets/js/image1.js" type="text/javascript"></script>
{% endblock %}