{% extends "base.html" %}
{% block title %} Property {% endblock %}
{% block button %} {% endblock %}
{% block body %}
<style>
    .item-details{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
        font-size: 18px;
    }
    button{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
        font-size: 18px;
    }
</style>
<div class="container-fluid content-default">
    <div class="detail-page no-margin">
        <div class="row images-section">
            <div class="col-md-6 text-center selected-image">

                <img class="img-responsive propImg" id="grid-image-0" src="../Files/{{service.0.image1}}">
                <div class="item-title">
                    <h3 id="property-title" class="text-uppercase">{{service.0.Title}}</h3>
                </div>
            </div>
            <div class="col-md-6 image-grid">
                <div id="property-image-grid-container" class="row image-grid-1">
                    <img class="img-responsive col-xs-6 grid-image" id="grid-image-1"
                        src="../Files/{{service.0.image2}}">
                    <img class="img-responsive col-xs-6 grid-image" id="grid-image-1"
                        src="../Files/{{service.0.image3}}">
                    <img class="img-responsive col-xs-6 grid-image" id="grid-image-1"
                        src="../Files/{{service.0.image4}}">
                    <img class="img-responsive col-xs-6 grid-image" id="grid-image-1"
                        src="../Files/{{service.0.image5}}">
                    <img class="img-responsive col-xs-6 grid-image" id="grid-image-1"
                        src="../Files/{{service.0.image6}}">
                </div>
            </div>
        </div>
        <div class="item-details">
            <div class="details-heading vertical-align">
                <h3 class="no-margin display-inline">SERVICE DETAILS</h3>
            </div>
            <table class="table table-sm item-details-table">
                <tbody>
                    <tr class="col-md-6">
                        <td>
                            <p id="propery-name-label" class="no-margin">Name </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property-user-name">{{service.0.Title}}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Added By </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property-user-name">{{service.0.user.username}}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">City </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property_location_city">{{service.0.City}}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">State </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property_location_state">{{service.0.State}}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Service Charges (Per hour) </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="price">{{ service.0.Currency }} {{ service.0.Price }}</span>
                        </td>
                    </tr>
                   
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Description </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="description">{{ service.0.Description }}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Address </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="address">{{ service.0.Address }}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Services Provided </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="address">{{ service.0.ServiceType }}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6" id="agent-contact-details-detail-view-r">
                        <td>
                            <p class="no-margin"> Contact Details </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="agent-contact-details">{{ service.0.user.username }}</span>
                            
                        </td>
                        <td>
                            ,<span class="no-margin" id="agent-contact-details">{{ service.0.user.userdetails.mobile }}</span>
                            
                        </td>
                    </tr>
                   
                    <tr class="col-md-6" id="property-indoor-features-r">
                        <td>
                            <p class="no-margin">Date </p>
                        </td>
                        <td>
                            : <span class="no-margin">
                                {{ service.0.Date }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" id="property-contact-button"
            class="btn btn-info btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3 detail-page-contact-button"
            data-toggle="modal" data-target=".contact-modal">
            <h3>Contact Us</h3>
        </button>

        <div class="location-item">
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock %}