{% extends "base.html" %}
{% block title %} Property {% endblock %}
{% block button %} {% endblock %}
{% block body %}
<style>
    .item-details{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
        font-size: 18px;
    }
    button{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
        font-size: 18px;
    }
</style>

{% if message %}
{% if success %}
<div class="alert alert-primary" role="alert" id="popup">
  {{ message }}
</div>
{% else %}
<div class="alert alert-danger" role="alert" id="popup">
  {{ message}}
</div>
{% endif %}
{% endif %}
<div class="container-fluid content-default">
    <div class="detail-page no-margin">
        <div class="row images-section">
            <div class="col-md-6 text-center selected-image">

                <img class="img-responsive propImg" id="grid-image-0" src="../Files/{{structure.0.image1}}">
                <div class="item-title">
                    <h3 id="property-title" class="text-uppercase">{{structure.0.Title}}</h3>
                </div>
            </div>
            <div class="col-md-6 image-grid">
                <div id="property-image-grid-container" class="row image-grid-1">
                    {% for k in images %}
                    <img class="img-responsive col-xs-6 grid-image" id="grid-image-1"
                        src="../Files/{{k.image}}">
                   {% endfor %}
                </div>
            </div>
        </div>
        <div class="item-details">
            <div class="details-heading vertical-align">
                <h3 class="no-margin display-inline">STRUCTURE DETAILS</h3>
            </div>
            <table class="table table-sm item-details-table">
                <tbody>
                    <tr class="col-md-6">
                        <td>
                            <p id="propery-name-label" class="no-margin">Name </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property-user-name">{{structure.0.Category}}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Added By </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property-user-name">{{structure.0.user.username}}</span>
                        </td>
                    </tr>
                    
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Property type </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property-type">{{structure.0.PropertyType}}</span>
                        </td>
                    </tr>
                    
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">City </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property_location_city">{{structure.0.City}}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">State </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property_location_state">{{structure.0.State}}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Size </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property_location_area">{{structure.0.Size}} SQ.FT</span>
                        </td>
                    </tr>
                    
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Price </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="price">{{ structure.0.Currency }} {{ structure.0.Price }}</span>
                        </td>
                    </tr>
                    
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Description </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="description">{{ structure.0.Description }}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6">
                        <td>
                            <p class="no-margin">Address </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="address">{{ structure.0.Address }}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6" id="agent-contact-details-detail-view-r">
                        <td>
                            <p class="no-margin">Agent Contact Details </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="agent-contact-details">{{ structure.0.user.username }}</span>
                            
                        </td>
                        <td>
                            ,<span class="no-margin" id="agent-contact-details">{{ structure.0.user.userdetails.mobile }}</span>
                            
                        </td>
                    </tr>
                    <tr class="col-md-6" id="property-build-yr-r">
                        <td>
                            <p class="no-margin">Initial Cost </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property-build-year">{{ structure.0.Currency }} {{ structure.0.InitialCost }}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6" id="property-car-spaces-r">
                        <td>
                            <p class="no-margin">Middle Cost </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property-car-spaces">{{ structure.0.Currency }} {{ structure.0.MiddleCost }}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6" id="property-furnishing-r">
                        <td>
                            <p class="no-margin">Final Cost </p>
                        </td>
                        <td>
                            : <span class="no-margin" id="property-furnishing-status">{{ structure.0.Currency }} {{ structure.0.FinalCost }}</span>
                        </td>
                    </tr>
                    <tr class="col-md-6" id="property-indoor-features-r">
                        <td>
                            <p class="no-margin">Rooms </p>
                        </td>
                        <td>
                            : <span class="no-margin">
                                {{ structure.0.Rooms }}
                            </span>
                        </td>
                    </tr>
                    
                   
                    <tr class="col-md-6" id="property-indoor-features-r">
                        <td>
                            <p class="no-margin">Date </p>
                        </td>
                        <td>
                            : <span class="no-margin">
                                {{ structure.0.Date }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% if request.user.username != "" %}
        <button type="button" id="send"
            class="btn btn-info btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3 detail-page-contact-button">
            <h3>Contact Us</h3>
        </button>
        {% else %}
        <a href="/login"><button type="button"
            class="btn btn-info btn-sm col-xs-12 col-sm-6 col-md-4 col-lg-3 detail-page-contact-button">
            <h3>Contact Us</h3>
        </button>
    </a>
    {% endif %}

        <div class="location-item">
            <div id="map"></div>
        </div>
    </div>
</div>

<div id="customModal" style="display: none;">
    <form class="form" method="POST" action="/structure/{{id}}">{% csrf_token %}
        <h2>CONTACT US</h2>
        <p type="Name:">{{ form.name }}</p>
        <span class="text-error">{{ form.name.errors }}</span>
        <p type="Email:">{{ form.email }}</p>
        <span class="text-error">{{ form.email.errors }}</span>
        <p type="Phone Number:">{{ form.phone }}</p>
        <span class="text-error">{{ form.phone.errors }}</span>
        <p type="Message:">{{ form.message }}</p>
        <span class="text-error">{{ form.message.errors }}</span>
        <button type="submit" style="margin-bottom: 5px;">Send Message</button>
        <button id="close" type="button" style="margin-right: 8px; margin-bottom: 5px;">Close</button>
    </form>
    </div>
    
    
    <script>
        const button = document.getElementById("send");
        const button1 = document.getElementById("close");
        var modal;
        button.addEventListener("click", (e) => {
            modal = new Custombox.modal({
                content: {
                    effect: 'slide',
                    target: '#customModal',
                    close:true
    
                }
        });
            modal.open();
    
        })
        button1.addEventListener("click",(e)=>{
            Custombox.modal.close();
        })


    let ab = document.getElementById("popup");
    if (ab) {
      setTimeout(() => {
        ab.remove();
      }, 2000);
    }
    
        
    </script>
{% endblock %}